@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "@fontsource-variable/geist";

@custom-variant dark (&:is(.dark *));

@theme inline {
    --font-heading: var(--font-sans);
    --font-sans: 'Geist Variable', sans-serif;
    --color-sidebar-ring: var(--sidebar-ring);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar: var(--sidebar);
    --color-chart-5: var(--chart-5);
    --color-chart-4: var(--chart-4);
    --color-chart-3: var(--chart-3);
    --color-chart-2: var(--chart-2);
    --color-chart-1: var(--chart-1);
    --color-ring: var(--ring);
    --color-input: var(--input);
    --color-border: var(--border);
    --color-destructive: var(--destructive);
    --color-accent-foreground: var(--accent-foreground);
    --color-accent: var(--accent);
    --color-muted-foreground: var(--muted-foreground);
    --color-muted: var(--muted);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-secondary: var(--secondary);
    --color-primary-foreground: var(--primary-foreground);
    --color-primary: var(--primary);
    --color-popover-foreground: var(--popover-foreground);
    --color-popover: var(--popover);
    --color-card-foreground: var(--card-foreground);
    --color-card: var(--card);
    --color-foreground: var(--foreground);
    --color-background: var(--background);
    --radius-sm: calc(var(--radius) * 0.6);
    --radius-md: calc(var(--radius) * 0.8);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) * 1.4);
    --radius-2xl: calc(var(--radius) * 1.8);
    --radius-3xl: calc(var(--radius) * 2.2);
    --radius-4xl: calc(var(--radius) * 2.6);
}

:root {
    --background: #EEE6DD;
    --foreground: #232220;
    --card: #F9F6F3;
    --card-foreground: #232220;
    --popover: #F9F6F3;
    --popover-foreground: #232220;
    --primary: #31321F;
    --primary-foreground: #EEE6DD;
    --secondary: #D3D0BC;
    --secondary-foreground: #232220;
    --muted: #D3D0BC;
    --muted-foreground: #929F9D;
    --accent: #D3D0BC;
    --accent-foreground: #232220;
    --destructive: #D94F4F;
    --border: #B8B4A0;
    --input: #B8B4A0;
    --ring: #31321F;
    --chart-1: #31321F;
    --chart-2: #929F9D;
    --chart-3: #D3D0BC;
    --chart-4: #B8B4A0;
    --chart-5: #232220;
    --radius: 0.625rem;
    --sidebar: #F9F6F3;
    --sidebar-foreground: #232220;
    --sidebar-primary: #31321F;
    --sidebar-primary-foreground: #EEE6DD;
    --sidebar-accent: #D3D0BC;
    --sidebar-accent-foreground: #232220;
    --sidebar-border: #B8B4A0;
    --sidebar-ring: #31321F;
}

.dark {
    --background: #232220;
    --foreground: #EEE6DD;
    --card: #31321F;
    --card-foreground: #EEE6DD;
    --popover: #31321F;
    --popover-foreground: #EEE6DD;
    --primary: #D3D0BC;
    --primary-foreground: #232220;
    --secondary: #31321F;
    --secondary-foreground: #EEE6DD;
    --muted: #31321F;
    --muted-foreground: #929F9D;
    --accent: #D3D0BC;
    --accent-foreground: #232220;
    --destructive: #D94F4F;
    --border: #B8B4A0;
    --input: #B8B4A0;
    --ring: #D3D0BC;
    --chart-1: #EEE6DD;
    --chart-2: #D3D0BC;
    --chart-3: #929F9D;
    --chart-4: #B8B4A0;
    --chart-5: #31321F;
    --sidebar: #31321F;
    --sidebar-foreground: #EEE6DD;
    --sidebar-primary: #D3D0BC;
    --sidebar-primary-foreground: #232220;
    --sidebar-accent: #D3D0BC;
    --sidebar-accent-foreground: #232220;
    --sidebar-border: #B8B4A0;
    --sidebar-ring: #D3D0BC;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
    }
  body {
    @apply bg-background text-foreground;
    }
  html {
    @apply font-sans;
    }
}
